@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=sw ap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-heading: hsl(234, 12%, 34%);
  --text-body: hsl(229, 6%, 66%);
  --background: hsl(0, 0%, 98%);
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--background);
  color: var(--text-body);
  margin: 0;
}

main {
  margin-bottom: 4.5rem;
}

img {
  max-width: 100%;
}

.container {
  padding-inline: 2rem;
  max-width: 1110px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-block: 5rem;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.main-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-heading);
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.main-heading span {
  display: block;
  color: var(--text-body);
  font-weight: 200;
}

.card-heading {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-heading);
  margin-bottom: 1rem;
}

.card {
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

.card p {
  font-size: 14px;
  margin-bottom: 2rem;
}

.card img {
  display: block;
  margin-left: auto;
}

.cyan {
  border-top: 5px solid hsl(180, 62%, 55%);
}

.red {
  border-top: 5px solid hsl(0, 78%, 62%);
}

.orange {
  border-top: 5px solid hsl(34, 97%, 64%);
}

.blue {
  border-top: 5px solid hsl(212, 86%, 64%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 640px) {
  header {
    width: 40%;
    margin-inline: auto;
  }

  .card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .col {
    width: 33.3%;
  }
}
